{% extends "base.html" %}

{% block content %}

    <h2>Log In</h2>

    <p>New? <a href="signup">Sign up here!</a></p>

    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>

        <tr>
        <td class="error" colspan="2">
            {{error_login}}
          </td>
        </tr>

      </table>

      <input type="submit">
    </form>

{% endblock %}
